*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html,body,#root{
    height: 100%;
}
body{
    background-color: gray;
    font-family: cursive;
    font-size: 14px;
}
.container{
    height: 100%;
    text-align: center;
    margin-top: 100px;
}
.card{
    margin: auto;
    width: 300px;
    height: 250px;
    border: 2px solid whitesmoke;
    text-align: center;
    padding: 10px;
    border-radius: 15px;
    margin-top: 40px;
}
.card-body{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
button{
    padding: 5px 15px;
    border: 1px solid greenyellow;
    background: transparent;
    color: greenyellow;
    font-family: cursive;
    border-radius: 5px;
    cursor: pointer;
    transition: .5s;
}
button:hover{
    color: orange;
    border-color: orange;
}
button:disabled{
    border-color: red;
    color: red;
    cursor: not-allowed;
}
img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 1px solid whitesmoke;
}